In [1]:
import pandas as pd
df=pd.read_csv('lab1_ex01.csv')

In [2]:
df

,First column,two,three,SOME;NAME,five,What is this even?,seven,eight
0,0.348554,-0.14509562920877161,-0.012336991474672475,9,red,good,quarrelsome,2016-05-26 09:33:42
1,-1.493853,0.12436946488785079,1.4611100361038865,4,red,bad,doctor,2016-12-03 18:55:52
2,-0.325891,NaN,-0.42191202598625566,2,red,average,large,2016-05-15 11:49:26
3,-0.506596,0.3991147675939107,-0.26502607502330217,5,green,average,muddled,2015-01-30 22:33:29
4,NaN,-0.6913144223047157,-0.26502607502330217,2,blue,good,coordinated,2015-11-20 00:15:35
5,0.527112,2.584347847701393,-0.26502607502330217XYZ,2,blue,good,separate,2017-11-17 09:58:54
6,-1.555290,unknown,-0.7732649697439955,5,green,bad,bright,2017-05-01 10:32:41

In [3]:
df.columns

Index(['First column', 'two', 'three', 'SOME;NAME', 'five',
       'What is this even?', 'seven', 'eight'],
      dtype='object')

In [4]:
len(df.columns)  ###liczba kolumn
len(df.index)  ####liczba wierszy

7

In [5]:
#### Execrise 1
# !pip install json
import json
missing_pct = df.isna().sum() / len(df)

cols_info = []

for col in df.columns:
    col_info = {
        'name': col,
        'missing': missing_pct[col],
        'type': 'other'
    }
    if df[col].dtype == 'int64':
        col_info['type'] = 'int'
    elif df[col].dtype == 'float64':
        col_info['type'] = 'float'
    cols_info.append(col_info)
    
with open('ex01_fields.json', 'w') as f:
    json.dump(cols_info, f, indent=4)

In [22]:
###Exercise 2
# !pip install numpyencoder
# from numpyencoder import NumpyEncoder
import numpy as np
dict={}
for col in df.columns:
    temp=df[col]
    if temp.dtype != 'object':
        dict_nested={}
        dict_nested={
            'count':str(len(df[col])-df[col].isna().sum()),
            'mean':str(df[col].sum() / len(df[col])),
            'std':str(np.std(df[col], ddof=1)),
            'min':str(df[col].min()),
            '25%':str(df[col].quantile([0.25])),
            '50%':str(df[col].quantile([0.50])),
            '75%':str(df[col].quantile([0.75])),
            'max':str(df[col].max())
        }
        dict.update({col:temp.describe().to_dict()})
    else:
        dict_nested={}
        dict_nested={
            'count': str(len(df[col])-df[col].isna().sum()),
            # 'unique':str(df[col].nunique()),
            'unique':str(len(df[col].unique())),
            'top':str(df[col].value_counts().idxmax()),
            'freq':str(df[col].value_counts().max()),
        }
        dict.update({col:dict_nested})

print(dict)        
# # with open('ex02_stats.json', 'w') as f:
# #     json.dump(dict, f, indent=4, sort_keys=True,
# #               separators=(', ', ': '), ensure_ascii=False,
# #               cls=NumpyEncoder)
with open('ex02_stats.json', 'w') as f:
    json.dump(dict, f)

{'first_column': {'count': 6.0, 'mean': -0.5009940002009552, 'std': 0.8839385203395562, 'min': -1.55529041326908, '25%': -1.247038692513933, '50%': -0.4162433767179556, '75%': 0.1799426841401469, 'max': 0.5271122588523375}, 'two': {'count': '6', 'unique': '7', 'top': '-0.14509562920877161', 'freq': '1'}, 'three': {'count': '7', 'unique': '7', 'top': '-0.012336991474672475', 'freq': '1'}, 'somename': {'count': 7.0, 'mean': 4.142857142857143, 'std': 2.544836041121407, 'min': 2.0, '25%': 2.0, '50%': 4.0, '75%': 5.0, 'max': 9.0}, 'five': {'count': '7', 'unique': '3', 'top': 'red', 'freq': '3'}, 'what_is_this_even': {'count': '7', 'unique': '3', 'top': 'good', 'freq': '3'}, 'seven': {'count': '7', 'unique': '7', 'top': 'quarrelsome', 'freq': '1'}, 'eight': {'count': '7', 'unique': '7', 'top': '2016-05-26 09:33:42', 'freq': '1'}}

In [7]:
###Exercise 3
# import re
new_columns=[]

for col in df.columns:
    col = ''.join(c for c in col if c.isalnum() or c == '_' or c == ' ')
    col=col.lower()
    col=col.replace(' ', '_')
    new_columns.append(col)
    
df.columns=new_columns

df.to_csv('ex03_columns.csv', index=False)

In [8]:
###Exercise 4
# !pip install openpyxl
import pickle
import openpyxl

# col_n= list(df.columns)
# df_col = pd.DataFrame(columns=col_n)
# print(df_col)
# df_col.to_excel('ex04_excel.xlsx', index=False)

df_col=pd.DataFrame(df)
print(df_col)
df_col.to_excel('ex04_excel.xlsx', index=False)

rows = df.to_dict(orient='records')
with open('ex04_json.json', 'w') as f:
    json.dump(rows, f)

with open('ex04_pickle.pkl', 'wb') as f:
    pickle.dump(df, f)

   first_column                   two                    three  somename  \
0      0.348554  -0.14509562920877161    -0.012336991474672475         9
1     -1.493853   0.12436946488785079       1.4611100361038865         4
2     -0.325891                   NaN     -0.42191202598625566         2
3     -0.506596    0.3991147675939107    -0.26502607502330217          5
4           NaN   -0.6913144223047157     -0.26502607502330217         2
5      0.527112     2.584347847701393  -0.26502607502330217XYZ         2
6     -1.555290               unknown      -0.7732649697439955         5

    five what_is_this_even        seven                eight
0    red              good  quarrelsome  2016-05-26 09:33:42
1    red               bad       doctor  2016-12-03 18:55:52
2    red           average        large  2016-05-15 11:49:26
3  green           average      muddled  2015-01-30 22:33:29
4   blue              good  coordinated  2015-11-20 00:15:35
5   blue              good     separate  2017-11-17 09:58:54
6  green               bad       bright  2017-05-01 10:32:41

In [9]:
###Exercise 5
# !pip install tabulate
dff=pd.read_pickle('lab1_ex05.pkl')
dff = dff.fillna('')
result = dff.iloc[dff.index.str.startswith('v'), 1:3]
print(result)
result.to_markdown('ex05_table.md')

             description age
v        Freedom fighter
valerie          Actress

In [10]:
###Exercise 6
with open('lab1_ex06.json', 'r') as f:
    data = json.load(f)

dfff = pd.json_normalize(data, sep='.')

dfff.to_pickle('ex06_pickle.pkl')